.review-item{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    display: flex;
    
}
.review-item img{
    width: 91px;
    margin-right: 25px;
}
.review-item-details p{
    margin: 0;
}
.review-item-details-container{
    width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.delete-icon{
    color: red;
    font-size: 27px;
    
}
.delete-btn{
    background-color: rgb(233, 183, 183);
    border: 0;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
